snippet descm
describe "${1:#method}" do
	${0:pending "Not implemented"}
end
endsnippet

snippet cont
context "${1:message}" do
	${0}
end
endsnippet

snippet shared
shared_examples ${0:"shared examples name"}
endsnippet

snippet it
it "${1:spec_name}" do
	${0}
end
endsnippet
